<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/snake/main.css">
    <title>Document</title>
</head>
<body>
    <h2><a href="/" class="return-button">返回</a>貪吃蛇</h2>
    <canvas id = "game" width="400" height="400"></canvas>
		<div class="controls">
      <div class="vertical-buttons">
          <button class="button" id="up">↑</button>
          <div class="horizontal-buttons">
              <button class="button" id="left">←</button>
              <button class="button" id="right">→</button>
          </div>
          <button class="button" id="down">↓</button>
      </div>
  </div>
    <script src="/javascripts/snake.js"></script>
</body>
</html>