<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8">
    <title>不知道叫什麼的留言板</title>
    <link rel="stylesheet" href="/stylesheets/board/start.css" />
</head>
<body>
    <div class="header">
        <a href="/" class="return-button">返回</a>
        <a href="/board/login" class="login-button">登入</a>
        <a href="/board/register" class="register-button">註冊</a>
    </div>
    <h1 class="title">歡迎來到不知道叫什麼的留言板</h1>
    <a id="browse-button" href="#" onclick="showMessages()">瀏覽</a>
    
    <div id="message-list"></div>
    <script>
    </script>
</body>
</html>
